{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-mixed-spaces-and-tabs": "error",
    "no-var": 1,
    "no-extra-parens": 1,
    "no-multi-spaces": 1,
    "no-multiple-empty-lines": 1,
    "semi": "error"
  }
}