-
    APP_NAME = "Elhm LocalHost Manager"
    LINK_ACTIVE = "projects"

doctype
html(lang="en")
head
    title= APP_NAME
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons")
    link(rel="stylesheet" href="src/css/main.css")
body
    include src/includes/left-menu
    #projects
        h3#projects__path mon/path
        #projects__list