extends src/includes/template.pug

block content
    #projects
        #projects__top
            h3#projects__path /projects
            #projects__new-project-btn
                a(href='projects-new.html').btn Create new project
                    span.material-icons add
        #projects__list