#left-menu {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #53687e;
}
#left-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}
#left-menu ul li {
  text-align: center;
}
#left-menu ul li a {
  border-right: 4px solid transparent;
  display: block;
  padding: 16px 0;
  color: #08090a;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
#left-menu ul li a .text {
  font-size: 12px;
  text-transform: uppercase;
}
#left-menu ul li a:hover {
  color: #ffbf46;
}
#left-menu ul li.active a {
  border-color: #ffbf46;
  color: #ffbf46;
}
#left-menu ul:hover li.active a {
  color: #08090a;
}
#left-menu ul:hover li.active a:hover {
  color: #ffbf46 !important;
}