#projects__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#projects__path {
  color: #daf0ee !important;
}
#projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
@media screen and (min-width: 562px) {
  #projects__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 632px) {
  #projects__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 980px) {
  #projects__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
#projects__list .project_folder {
  min-height: 120px;
  background-color: #53687e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#projects__new-project-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

#create-project {
  padding: 20px;
}