@import url("https://use.typekit.net/dqz3emx.css");
html, body {
  background-color: #08090a;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*:not(.material-icons) {
  font-family: quatro, sans-serif !important;
}

body {
  padding: 20px 20px 20px 120px;
}

#left-menu {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #53687e;
}
#left-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}
#left-menu ul li {
  text-align: center;
}
#left-menu ul li a {
  border-right: 4px solid transparent;
  display: block;
  padding: 16px 0;
  color: #08090a;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
#left-menu ul li a .text {
  font-size: 12px;
  text-transform: uppercase;
}
#left-menu ul li a:hover {
  color: #ffbf46;
}
#left-menu ul li.active a {
  border-color: #ffbf46;
  color: #ffbf46;
}
#left-menu ul:hover li.active a {
  color: #08090a;
}
#left-menu ul:hover li.active a:hover {
  color: #ffbf46 !important;
}

#projects__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#projects__path {
  color: #daf0ee !important;
}
#projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
@media screen and (min-width: 562px) {
  #projects__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 632px) {
  #projects__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 980px) {
  #projects__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
#projects__list .project_folder {
  min-height: 120px;
  background-color: #53687e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#projects__new-project-btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

#create-project {
  padding: 20px;
}

#project__name {
  display: flex;
  justify-content: stretch;
}
#project__name__input {
  font-size: 32px;
  display: block;
  border: 2px solid transparent;
  background-color: transparent;
  color: #daf0ee;
  padding: 5px;
  margin-bottom: 10px;
  transition: 250ms border-color ease-in-out;
  box-shadow: none;
  outline: none;
}
#project__name__input:hover, #project__name__input:active, #project__name__input:focus {
  border-color: #ffbf46;
}
#project__name__input.edited {
  font-style: italic;
}

.bg-dark {
  background-color: #08090a;
}
.bg-light {
  background-color: #daf0ee;
}
.bg-primary {
  background-color: #ffbf46;
}
.bg-secondary {
  background-color: #53687e;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}
.form-group input {
  width: 100%;
  background-color: #daf0ee;
  color: #08090a;
  padding: 5px;
  border: none;
  box-shadow: none;
  outline: none;
}

.btn {
  background-color: #ffbf46;
  color: #08090a;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  border: none;
  box-shadow: none;
  outline: none;
}

/*# sourceMappingURL=main.css.map */
